@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
#root {
  font-family: "Lato", sans-serif;
  width: 1400px;
  margin: 0 auto;
}
